<img class="vegas-background" src="assets/images/bg-slider/bg-3.jpg" style="position: fixed; left: 0px; width: 1600px; height: 1067.43px; bottom: auto; right: auto;">
	<!--=== Header section Starts ===-->
	<div id="header" class="header-section">

		<!--=== Home Section Starts ===-->
		<div id="section-home" class="home-section-wrap center">
			<div class="section-overlay"></div>
			<div class="container home">
				<div class="row">
					<h1 class="well-come" style="width: 100%;">Fly like Egret</h1>
					
					<div style="width: 100%;"class="">
						<p class="intro-message">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet qui dolorem</p>
						
						<div class="home-buttons">
							<a href="#" class="fancy-button button-line button-white vertical">
								Learn more
								<span class="icon">
									<i class="fa fa-gear"></i>
								</span>
							</a>
							<a href="#" class="fancy-button button-line button-white zoom">
								Download now
								<span class="icon">
									<i class="fa fa-leaf"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--=== Home Section Ends ===-->
	</div>
	
	

	
	<!--=== Footer section Starts ===-
	<div id="section-footer" class="footer-wrap">
		<div class="container footer center">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="footer-title"><!-- Footer Title -
						<a class="site-name" href="#"><span>E</span>gret</a>
					</h4>
					
					<!-- Social Links -
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/pages/Themegret/337546306439029"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
					
					<p class="copyright">All right reserved &copy; 2015</p>
				</div>
			</div>
		</div>
	</div>
	<!--=== Footer section Ends ===-->

