<mat-card class="m-2" *ngFor="let ele of orders">
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>{{ ele.productname }}</mat-grid-tile>
    <mat-grid-tile> price: {{ ele.productprice }}$ </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="Quantity" [(value)]="ele.quantity" >
              <mat-option *ngFor="let val of [0,1,2,3,4,5,6]" [value]="val" selected>
                {{ val }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="onDelete(ele._id)"> 
        <mat-icon>remove_shopping_cart</mat-icon>
        Remove</button>
    </mat-grid-tile> 
  </mat-grid-list>
</mat-card>
<h1 *ngIf="!(orders && orders.length)">There are no orders currently</h1>
<button mat-raised-button color="primary" class="float-right mx-3" (click)="checkout()" *ngIf="orders.length"> 
Proceed to Checkout  <mat-icon>arrow_forward</mat-icon>
</button>