.example-card {
    max-width: 350px;
    float: left;
    max-height: 600px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

img{
    max-height: 300px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-icon:hover{
    cursor: pointer;
}
body{
    background-image: none;
}