<mat-toolbar style="background-color: indigo;color: white; font: bold">
    <mat-toolbar-row>
      <span *ngIf="loginservice.isUser()">User App</span>
      <span *ngIf="loginservice.isVendor()">Vendor App</span>
      <span *ngIf="loginservice.isAdmin()">Admin App</span>
      <span class="example-spacer"></span>

      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isVendor()" 
        routerLink="/pendingorders" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Pending Orders</button>

      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isVendor()" 
        routerLink="/orderedorders" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Ordered Orders</button>
      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isVendor()" 
        routerLink="/packedorders" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Packed Orders</button>
      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isVendor()" 
        routerLink="/intransitorders" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">In Transit Orders</button>
      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isVendor()" 
        routerLink="/deliveredorders" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Delivered Orders</button>

      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" 
        routerLink="/admindashboard"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Admin Catalogue</button>
      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" 
        routerLink="/userslist"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Users</button>

      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isUser()" 
        routerLink="/userdashboard"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Product Dashboard</button>

      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isUser()" 
        routerLink="/myorders"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">My Cart</button>
      <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isUser()" 
        routerLink="/userorders"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">My Orders</button>

      <button mat-button *ngIf="loginservice.isAuthenticated()" 
        routerLink="/account"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Account</button>
      <button mat-button *ngIf="loginservice.isAuthenticated()" 
        (click)="loginservice.logout()"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Logout</button>
      <button mat-button *ngIf="!loginservice.isAuthenticated()" 
        routerLink="/login"  routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{exact:true}">Login/Register</button>
    </mat-toolbar-row>
  </mat-toolbar>