<mat-card class="m-2" *ngFor="let order of orders">
  <mat-grid-list cols="3" rowHeight="50px" *ngFor="let ele of order.orderdetails">
    <mat-grid-tile>Product: {{ ele.productname }}</mat-grid-tile>
    <mat-grid-tile> Quantity: {{ ele.quantity }} </mat-grid-tile>
    <!--<mat-grid-tile> CardNumber: {{ order.card.cardnumber }} </mat-grid-tile>
    <mat-grid-tile> NameonCard: {{ order.card.name }} </mat-grid-tile>-->
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="writereview(order)"> 
        <mat-icon>rate_review</mat-icon>
        ReviewMessage</button>
      <mat-icon svgIcon="delete" color="warn" (click)="deleteOrder(order._id, ele._id)"></mat-icon>
    </mat-grid-tile> 
  </mat-grid-list>
</mat-card>
<h1 *ngIf="!(orders && orders.length)">There are no orders currently</h1>